<footer class="footer block1">
    <div class="container">
        <div class="footer__content">
            <div class="footer-top">
                <div class="footer-top__left">
                    <a href="./" class="footer-top__logo">
                        <img loading="lazy" src="img/icons/logo2.svg" alt="">
                    </a>
                    <p>
                        Мы создаём интерьеры, в которых хочется жить,
                        проводить теплые вечера с родными и встречать гостей
                    </p>
                </div>
                <div class="footer-top__right">
                    <div class="footer-top__contacts">
                        <div class="footer-top-contact">
                            <div class="footer-top-title">
                                [Контактная информация]
                            </div>
                            <div class="footer-top-contact__text">
                                <a href="tel:74992722200" class="footer-top-contact__phone">
                                    +7 (499) 272-22-00
                                </a>
                                <a href="mailto:equipment@interer.pro" class="footer-top-contact__mail">
                                    equipment@interer.pro
                                </a>
                            </div>
                        </div>
                        <div class="socials">
                            <a href="./">
                                <svg aria-hidden="true" width="32" height="25">
                                    <use xlink:href="img/sprite.svg#telegramm"></use>
                                </svg>
                            </a>
                            <a href="./">
                                <svg aria-hidden="true" width="29" height="28">
                                    <use xlink:href="img/sprite.svg#max"></use>
                                </svg>
                            </a>
                        </div>
                        <div data-da=".footer-top-menu__columns, 650, first" class="footer-top-address">
                            <div class="footer-top-title">
                                [Адрес шоурума]
                            </div>
                            <p>
                                г. Москва, ул. Автозаводская<br>
                                23А корпус 2.
                            </p>
                            <p class="mini-text">
                                Вход с торца здания со стороны ТТК, напротив ЦСКА Арена и дворца хокейной славы.
                            </p>
                        </div>
                    </div>
                    <div class="footer-top-menu">
                        <div class="footer-top-menu__column">
                            <div class="footer-top-title">
                                [Навигация]
                            </div>
                            <ul>
                                <li>
                                    <a href="./">Преимущества</a>
                                </li>
                                <li>
                                    <a href="./">Тарифы</a>
                                </li>
                                <li>
                                    <a href="./">Точный расчет</a>
                                </li>
                                <li>
                                    <a href="./">Портфолио</a>
                                </li>
                                <li>
                                    <a href="./">Как мы работаем</a>
                                </li>
                                <li>
                                    <a href="./">Этапы работ</a>
                                </li>
                                <li>
                                    <a href="./">Отзывы</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-top-menu__columns">
                            <div class="footer-top-menu__column">
                                <div class="footer-top-title">
                                    [График работы]
                                </div>
                                <ul>
                                    <li>
                                        пн-пт: с 10:00 до 19:00
                                        <br>
                                        сб-вс: Выходной
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom__copy">
                    © 2026 интерьер.рф
                </div>
                <div class="footer-bottom__right">
                    <ul>
                        <li>
                            <a href="./">Политика обработки персональных данных</a>
                        </li>
                        <li>
                            <a href="./">Согласие на обработку персональных данных</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="./">Согласие на получение рекламы</a>
                        </li>
                        <li>
                            <a href="./">Политика в отношении файлов cookies</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>