<header class="header">
    <div class="container">
        <div class="header__content">
            <a href="./" class="header__logo">
                <img src="img/icons/logo1.svg" alt="" class="logo1">
                <img src="img/icons/logo2.svg" alt="" class="logo2">
            </a>
            <div class="header-menu">
                <div class="header-menu__top">
                    <button type="button" class="header-menu__close">
                        <svg aria-hidden="true" width="18" height="18">
                            <use xlink:href="img/sprite.svg#close"></use>
                        </svg>
                    </button>
                </div>
                <ul>
                    <li>
                        <a href="./" data-goto=".block-benefits" data-goto-header>Преимущества</a>
                    </li>
                    <li>
                        <a href="./" data-goto=".block-tariffs" data-goto-header>Тарифы</a>
                    </li>
                    <li>
                        <a href="./" data-goto=".block-gallery" data-goto-header>Работы</a>
                    </li>
                    <li>
                        <a href="./" data-goto=".block-steps" data-goto-header>Как мы работаем</a>
                    </li>
                    <li>
                        <a href="./" data-goto=".block-reviews" data-goto-header>Отзывы</a>
                    </li>
                </ul>
                <div class="header-menu-contacts">
                    <div class="header-menu-contacts__title">
                        [Контактная информация]
                    </div>
                    <div class="header-menu-contacts__text">
                        <a href="tel:74992722200" class="header-menu-contacts__phone">
                            +7 (499) 272-22-00
                        </a>
                        <a href="mailto:equipment@interer.pro" class="header-menu-contacts__mail">
                            equipment@interer.pro
                        </a>
                    </div>
                </div>
                <div class="header-menu-contacts">
                    <div class="header-menu-contacts__title mini-title">
                        [Адрес шоурума]
                    </div>
                    <div class="header-menu-contacts__text">
                        <p>
                            г. Москва, ул. Автозаводская
                            23А корпус 2.
                        </p>
                        <p class="mini-text">
                            Вход с торца здания со стороны ТТК, напротив ЦСКА Арена и дворца хокейной славы.
                        </p>
                    </div>
                </div>
                <div class="header-menu-contacts">
                    <div class="header-menu-contacts__title mini-title">
                        [График работы]
                    </div>
                    <div class="header-menu-contacts__text">
                        <p>
                            пн-пт: с 10:00 до 19:00
                            <br>
                            сб-вс: Выходной
                        </p>
                    </div>
                </div>
            </div>
            <div class="header-shadow"></div>
            <div class="header__right">
                <div data-da=".header-menu, 992, 3" class="socials">
                    <a href="./">
                        <svg aria-hidden="true" width="18" height="17">
                            <use xlink:href="img/sprite.svg#max"></use>
                        </svg>
                    </a>
                    <a href="./">
                        <svg aria-hidden="true" width="18" height="14">
                            <use xlink:href="img/sprite.svg#telegramm"></use>
                        </svg>
                    </a>
                </div>
                <a href="tel:74992722200" class="header__phone">+7 (499) 272-22-00</a>
                <a data-da=".header-menu__top, 768, first" href="./" class="btn btn-white">Обсудить проект</a>
                <button class="header__burger">
                    <span class="icon-menu">
                        <span></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</header>