<div id="block-info" aria-hidden="true" class="popup">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__top">
                <div class="popup__title">
                    Услуга комплектации
                </div>
                <div data-close class="popup__close">
                    <svg aria-hidden="true" width="18" height="18">
                        <use xlink:href="img/sprite.svg#close"></use>
                    </svg>
                </div>
            </div>
            <div class="popup__body">
                <div class="popup-center border-none">
                    <div class="popup-center__titles">
                        <div class="popup-center__title">
                            В пакет комплектации
                            входят услуги:
                        </div>
                    </div>
                </div>
                <div data-simplebar class="popup__bottom">
                    <div class="popup__column">
                        <ul>
                            <li>
                                <p>
                                    Составление план графика
                                </p>
                            </li>
                            <li>
                                <p>
                                    Консультации
                                </p>
                            </li>
                            <li>
                                <p>
                                    Подготовка технических заданий
                                </p>
                            </li>
                            <li>
                                <p>
                                    Анализ и тендер цен
                                </p>
                            </li>
                            <li>
                                <p>
                                    Поиск аналогов
                                </p>
                            </li>
                            <li>
                                <p>
                                    Пересчет материалов при смене
                                    форматов и внесения изменений
                                    заказчиком в проекте
                                </p>
                            </li>
                            <li>
                                <p>
                                    Запрос и предоставление счетов
                                    и коммерческих предложений
                                </p>
                            </li>
                            <li>
                                <p>
                                    Организация логистики
                                </p>
                            </li>
                            <li>
                                <p>
                                    Работа с возвратами и рекламациями
                                </p>
                            </li>
                            <li>
                                <p>
                                    Встречи с дизайнером и заказчиком
                                    в шоу руме
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="descr-tariff1" aria-hidden="true" class="popup">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__top">
                <div class="popup__title">
                    Тарифы <span>/ Проект Эскизный</span>
                </div>
                <div data-close class="popup__close">
                    <svg aria-hidden="true" width="18" height="18">
                        <use xlink:href="img/sprite.svg#close"></use>
                    </svg>
                </div>
            </div>
            <div class="popup__body">
                <div class="popup-center">
                    <div class="popup-center__titles">
                        <div class="popup-center__title">
                            Проект Эскизный
                        </div>
                        <p>
                            Стилистическая концепция
                        </p>
                    </div>
                    <div class="popup-center__left">
                        <div class="popup-center__price">
                            2 100 ₽/м²
                        </div>
                        <a href="./" class="btn btn-bordovy">Оставить заявку</a>
                    </div>
                </div>
                <div data-simplebar class="popup__bottom">
                    <div class="popup__column">
                        <div class="popup__list-title">Концепция</div>
                        <ul>
                            <li>
                                <p>
                                    Стилистическое решение (коллажи)
                                </p>
                            </li>
                            <li>
                                <p>
                                    Планировочное решение · 3 варианта
                                </p>
                            </li>
                            <li>
                                <p>
                                    Цветовые решения · 3 варианта
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="popup__column">
                        <div class="popup__list-title">Чертежи и планы</div>
                        <ul>
                            <li>
                                <p>
                                    План расстановки розеток и выключателей
                                </p>
                            </li>
                            <li>
                                <p>
                                    План размещения осветительных приборов
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="popup__column popup-column">
                        <div class="popup__list-title">Сметы и ведомости</div>
                        <ul>
                            <li>
                                <p>
                                    Ведомость материалов и мебели с указанием артикулов и производителей
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="descr-tariff2" aria-hidden="true" class="popup">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__top">
                <div class="popup__title">
                    Тарифы <span>/ Проект Рабочий</span>
                </div>
                <div data-close class="popup__close">
                    <svg aria-hidden="true" width="18" height="18">
                        <use xlink:href="img/sprite.svg#close"></use>
                    </svg>
                </div>
            </div>
            <div class="popup__body">
                <div class="popup-center">
                    <div class="popup-center__titles">
                        <div class="popup-center__title">
                            Проект Рабочий
                        </div>
                        <p>
                            Эскизный + чертежи
                        </p>
                    </div>
                    <div class="popup-center__left">
                        <div class="popup-center__price">
                            2 900 ₽/м²
                        </div>
                        <a href="./" class="btn btn-bordovy">Оставить заявку</a>
                    </div>
                </div>
                <div data-simplebar class="popup__bottom">
                    <div class="popup__column">
                        <div class="popup__list-title">Концепция</div>
                        <ul>
                            <li>
                                <p>
                                    Стилистическое решение (коллажи)
                                </p>
                            </li>
                            <li>
                                <p>
                                    Планировочное решение · 3 варианта
                                </p>
                            </li>
                            <li>
                                <p>
                                    Цветовые решения · 3 варианта
                                </p>
                            </li>
                            <li>
                                <p>
                                    Рекомендации по материалам
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="popup__column popup-column-other">
                        <div class="popup__list-title">Чертежи и планы</div>
                        <ul>
                            <li>
                                <p>
                                    Обмерный план
                                </p>
                            </li>
                            <li>
                                <p>
                                    План тёплых полов
                                </p>
                            </li>
                            <li>
                                <p>
                                    План сантехники
                                </p>
                            </li>
                            <li>
                                <p>
                                    План расстановки мебели
                                </p>
                            </li>
                            <li>
                                <p>
                                    План демонтажа
                                </p>
                            </li>
                            <li>
                                <p>
                                    План потолков
                                </p>
                            </li>
                            <li>
                                <p>
                                    План сантехники
                                </p>
                            </li>
                            <li>
                                <p>
                                    План напольных покрытий
                                </p>
                            </li>
                            <li>
                                <p>
                                    План монтажа
                                </p>
                            </li>
                            <li>
                                <p>
                                    План электрики
                                </p>
                            </li>
                            <li>
                                <p>
                                    План освещения
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="popup__column">
                        <div class="popup__list-title">Визуализация</div>
                        <ul>
                            <li>
                                <p>
                                    3D визуализация
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="descr-tariff3" aria-hidden="true" class="popup">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__top">
                <div class="popup__title">
                    Тарифы <span>/ Проект Максимум</span>
                </div>
                <div data-close class="popup__close">
                    <svg aria-hidden="true" width="18" height="18">
                        <use xlink:href="img/sprite.svg#close"></use>
                    </svg>
                </div>
            </div>
            <div class="popup__body">
                <div class="popup-center">
                    <div class="popup-center__titles">
                        <div class="popup-center__title">
                            Проект Максимум
                        </div>
                        <p>
                            Под ключ — от концепции до закупок
                        </p>
                    </div>
                    <div class="popup-center__left">
                        <div class="popup-center__price">
                            4 800 ₽/м²
                        </div>
                        <a href="./" class="btn btn-bordovy">Оставить заявку</a>
                    </div>
                </div>
                <div data-simplebar class="popup__bottom">
                    <div class="popup__column">
                        <div class="popup__list-title">Концепция</div>
                        <ul>
                            <li>
                                <p>
                                    Стилистическое решение (коллажи)
                                </p>
                            </li>
                            <li>
                                <p>
                                    Планировочное решение · 3 варианта
                                </p>
                            </li>
                            <li>
                                <p>
                                    Цветовые решения · 3 варианта
                                </p>
                            </li>
                            <li>
                                <p>
                                    Рекомендации по материалам
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="popup__column popup-column-other">
                        <div class="popup__list-title">Чертежи и планы</div>
                        <ul>
                            <li>
                                <p>
                                    Обмерный план
                                </p>
                            </li>
                            <li>
                                <p>
                                    План тёплых полов
                                </p>
                            </li>
                            <li>
                                <p>
                                    План сантехники
                                </p>
                            </li>
                            <li>
                                <p>
                                    План расстановки мебели
                                </p>
                            </li>
                            <li>
                                <p>
                                    План демонтажа
                                </p>
                            </li>
                            <li>
                                <p>
                                    План потолков
                                </p>
                            </li>
                            <li>
                                <p>
                                    План сантехники
                                </p>
                            </li>
                            <li>
                                <p>
                                    План напольных покрытий
                                </p>
                            </li>
                            <li>
                                <p>
                                    План монтажа
                                </p>
                            </li>
                            <li>
                                <p>
                                    План электрики
                                </p>
                            </li>
                            <li>
                                <p>
                                    План освещения
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="popup__column">
                        <div class="popup__list-title">Визуализация</div>
                        <ul>
                            <li>
                                <p>
                                    3D визуализация
                                </p>
                            </li>
                            <li>
                                <p>
                                    Развёртки стен с отделкой и мебелью
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="popup__column popup-column">
                        <div class="popup__list-title">Сметы и ведомости</div>
                        <ul>
                            <li>
                                <p>
                                    Ведомость чистовых отделочных материалов (расчёт необходимого количества, ссылки на
                                    материалы)
                                </p>
                            </li>
                            <li>
                                <p>
                                    Ведомость мебели и декора (расчёт необходимого количества, ссылки на материалы)
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="descr-tariff4" aria-hidden="true" class="popup">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__top">
                <div class="popup__title">
                    Тарифы <span>/ Проект Стандарт</span>
                </div>
                <div data-close class="popup__close">
                    <svg aria-hidden="true" width="18" height="18">
                        <use xlink:href="img/sprite.svg#close"></use>
                    </svg>
                </div>
            </div>
            <div class="popup__body">
                <div class="popup-center">
                    <div class="popup-center__titles">
                        <div class="popup-center__title">
                            Проект Стандарт
                        </div>
                        <p>
                            Чаще всего берут квартиры 50–90 м²
                        </p>
                    </div>
                    <div class="popup-center__left">
                        <div class="popup-center__price">
                            4 100 ₽/м²
                        </div>
                        <a href="./" class="btn btn-bordovy">Оставить заявку</a>
                    </div>
                </div>
                <div data-simplebar class="popup__bottom">
                    <div class="popup__column">
                        <div class="popup__list-title">Концепция</div>
                        <ul>
                            <li>
                                <p>
                                    Стилистическое решение (коллажи)
                                </p>
                            </li>
                            <li>
                                <p>
                                    Планировочное решение · 3 варианта
                                </p>
                            </li>
                            <li>
                                <p>
                                    Цветовые решения · 3 варианта
                                </p>
                            </li>
                            <li>
                                <p>
                                    Рекомендации по материалам
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="popup__column popup-column-other">
                        <div class="popup__list-title">Чертежи и планы</div>
                        <ul>
                            <li>
                                <p>
                                    Обмерный план
                                </p>
                            </li>
                            <li>
                                <p>
                                    План тёплых полов
                                </p>
                            </li>
                            <li>
                                <p>
                                    План сантехники
                                </p>
                            </li>
                            <li>
                                <p>
                                    План расстановки мебели
                                </p>
                            </li>
                            <li>
                                <p>
                                    План демонтажа
                                </p>
                            </li>
                            <li>
                                <p>
                                    План потолков
                                </p>
                            </li>
                            <li>
                                <p>
                                    План сантехники
                                </p>
                            </li>
                            <li>
                                <p>
                                    План напольных покрытий
                                </p>
                            </li>
                            <li>
                                <p>
                                    План монтажа
                                </p>
                            </li>
                            <li>
                                <p>
                                    План электрики
                                </p>
                            </li>
                            <li>
                                <p>
                                    План освещения
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="popup__column">
                        <div class="popup__list-title">Визуализация</div>
                        <ul>
                            <li>
                                <p>
                                    3D визуализация
                                </p>
                            </li>
                            <li>
                                <p>
                                    Развёртки стен с отделкой и мебелью
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="descr-gallery" aria-hidden="true" class="popup popup-gallery">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div data-close class="popup__close">
                <svg aria-hidden="true" width="18" height="18">
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>
            </div>
            <div class="slide-block-gallery">
                <div class="slide-block-gallery__images">
                    <div class="slide-block-gallery__slider swiper">
                        <div class="slide-block-gallery__wrapper swiper-wrapper">
                            <a href="img/image2.webp" data-fancybox="gallery1"
                                class="slide-block-gallery__slide swiper-slide">
                                <img loading="lazy" src="img/image2.webp" alt="">
                            </a>
                            <a href="img/image2.webp" data-fancybox="gallery1"
                                class="slide-block-gallery__slide swiper-slide">
                                <img loading="lazy" src="img/image2.webp" alt="">
                            </a>
                            <a href="img/image2.webp" data-fancybox="gallery1"
                                class="slide-block-gallery__slide swiper-slide">
                                <img loading="lazy" src="img/image2.webp" alt="">
                            </a>
                            <a href="img/image2.webp" data-fancybox="gallery1"
                                class="slide-block-gallery__slide swiper-slide">
                                <img loading="lazy" src="img/image2.webp" alt="">
                            </a>
                            <a href="img/image2.webp" data-fancybox="gallery1"
                                class="slide-block-gallery__slide swiper-slide">
                                <img loading="lazy" src="img/image2.webp" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="slide-block-gallery__zoom">
                        <svg aria-hidden="true" width="24" height="24">
                            <use xlink:href="img/sprite.svg#zoom"></use>
                        </svg>
                    </div>
                    <div class="slider-nav__arrow-prev slider-nav-arrow slide-block-gallery-arrow-prev">
                        <svg aria-hidden="true" width="5" height="11">
                            <use xlink:href="img/sprite.svg#arrow2"></use>
                        </svg>
                    </div>
                    <div class="slider-nav__pagination slide-block-gallery-pagination">
                    </div>
                    <div class="slider-nav__arrow-next slider-nav-arrow slide-block-gallery-arrow-next">
                        <svg aria-hidden="true" width="5" height="11">
                            <use xlink:href="img/sprite.svg#arrow2"></use>
                        </svg>
                    </div>
                </div>
                <div class="slide-block-gallery__body">
                    <div class="slide-block-gallery__titles">
                        <div class="slide-block-gallery__text">
                            ЖК Level Причальный • Москва
                        </div>
                        <div class="slide-block-gallery__title">
                            Максим: «Важно, чтобы дома было<br>
                            хорошо каждому»
                        </div>
                    </div>
                    <div class="slide-block-gallery__descr1">
                        <ul>
                            <li>
                                <div class="slide-block-gallery__name">
                                    Задача:
                                </div>
                                <p>
                                    Создать функциональное пространство для семьи с двумя детьми,
                                    где у каждого есть свой «уголок» в общей детской.
                                </p>
                            </li>
                            <li>
                                <div class="slide-block-gallery__name">
                                    Решение:
                                </div>
                                <p>
                                    Зонирование детской комнаты, продуманная эргономика хранения,
                                    выбор экологичных материалов.
                                </p>
                            </li>
                            <li>
                                <div class="slide-block-gallery__name">
                                    Результат:
                                </div>
                                <p>
                                    Мы создали красивый интерьер, в котором удалось гармонично
                                    совместить личные границы членов семьи и единство стиля.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="slide-block-gallery__descr2">
                        <ul>
                            <li>
                                <span>78 м²</span>
                                площадь
                            </li>
                            <li>
                                <span>120 дней</span>
                                реализация
                            </li>
                            <li>
                                <span>Стандарт</span>
                                выбранный тариф
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="review" aria-hidden="true" class="popup popup-gallery">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div data-close class="popup__close">
                <svg aria-hidden="true" width="18" height="18">
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>
            </div>
            <div class="slide-block-gallery">
                <div class="slide-block-gallery__images">
                    <div class="slide-block-gallery__slider swiper">
                        <div class="slide-block-gallery__wrapper swiper-wrapper">
                            <a href="img/image2.webp" data-fancybox="review-gallery1"
                                class="slide-block-gallery__slide swiper-slide">
                                <img loading="lazy" src="img/image2.webp" alt="">
                            </a>
                            <a href="img/image2.webp" data-fancybox="review-gallery1"
                                class="slide-block-gallery__slide swiper-slide">
                                <img loading="lazy" src="img/image2.webp" alt="">
                            </a>
                            <a href="img/image2.webp" data-fancybox="review-gallery1"
                                class="slide-block-gallery__slide swiper-slide">
                                <img loading="lazy" src="img/image2.webp" alt="">
                            </a>
                            <a href="img/image2.webp" data-fancybox="review-gallery1"
                                class="slide-block-gallery__slide swiper-slide">
                                <img loading="lazy" src="img/image2.webp" alt="">
                            </a>
                            <a href="img/image2.webp" data-fancybox="review-gallery1"
                                class="slide-block-gallery__slide swiper-slide">
                                <img loading="lazy" src="img/image2.webp" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="slide-block-gallery__zoom">
                        <svg aria-hidden="true" width="24" height="24">
                            <use xlink:href="img/sprite.svg#zoom"></use>
                        </svg>
                    </div>
                    <div class="slider-nav__arrow-prev slider-nav-arrow slide-block-gallery-arrow-prev">
                        <svg aria-hidden="true" width="5" height="11">
                            <use xlink:href="img/sprite.svg#arrow2"></use>
                        </svg>
                    </div>
                    <div class="slider-nav__pagination slide-block-gallery-pagination">
                    </div>
                    <div class="slider-nav__arrow-next slider-nav-arrow slide-block-gallery-arrow-next">
                        <svg aria-hidden="true" width="5" height="11">
                            <use xlink:href="img/sprite.svg#arrow2"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="block-reviews__cards">
                <div class="card-review">
                    <div class="card-review__top">
                        <div class="card-review__photo">
                            <img loading="lazy" src="img/photo1.webp" alt="">
                        </div>
                        <div class="card-review__titles">
                            <div class="card-review__title">
                                <span class="desc">Максим</span>
                                <span class="mob">Семья Самойловы</span>
                            </div>
                            <p>
                                ЖК Level Причальный · Москва · 78 м²
                            </p>
                        </div>
                    </div>
                    <div class="card-review__text">
                        <p>
                            Обратились по рекомендации знакомых. Заказали проект для 2 комн.
                            квартиры. Понравилось всё - от коллажей до реализации! Цвета
                            подобраны прекрасно! Пока успели покрасить не так много в
                            квартире, но нам уже нравится и цвет, и фактура краски. Всегда
                            на связи и, если какие-то вопросы возникают, всегда отвечают.
                            Ремонт только начинает подходить к концу, но нам уже нравится
                            результат!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>