.block-intro {
    position: relative;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @media (max-width: 992px) {
        min-height: 845px;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: 2;
        @media (max-width: 768px) {
            background: rgba(0, 0, 0, 0.2);
        }
    }
    .container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }
    // .block-intro__bg1

    &__bg1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    // .block-intro__circle

    &__circle {
        position: absolute;
        bottom: -194px;
        left: -120px;
        width: 619px;
        height: 598px;
        border-radius: 50%;
        background: rgba(53, 48, 41, 0.84);
        filter: blur(448.3999938964844px);
        z-index: 4;
        @media (max-width: 768px) {
            left: 50%;
            transform: translate(-50%, 0px);
            bottom: -197px;
            height: 690px;
        }
    }

    // .block-intro__content

    &__content {
        position: relative;
        z-index: 20;
        display: flex;
        justify-content: space-between;
        flex: 1 1 auto;
        align-items: flex-end;
        gap: 14px 30px;
        padding: 120px 0px 71px 0px;
        @media (max-width: 992px) {
            flex-direction: column;
            justify-content: flex-end;
            align-items: start;
            padding: 100px 0px 32px 0px;
        }
    }

    // .block-intro__left

    &__left {
        display: flex;
        flex-direction: column;
        gap: 30px;
        flex: 0 1 643px;
        @media (max-width: 992px) {
            width: 100%;
            flex: 0 1 auto;
            gap: 15px;
        }
        p {
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            color: #fff;
            max-width: 521px;
            @media (max-width: 768px) {
                font-size: 16px;
                line-height: 150%;
            }
        }
    }

    // .block-intro__right

    &__right {
        display: flex;
        flex-direction: column;
        gap: 40px;
        flex: 0 1 428px;
        margin: 0px 0px 9px 0px;
        @media (max-width: 992px) {
            flex-direction: column-reverse;
            gap: 24px;
            width: 100%;
            flex: 0 1 auto;
            margin: 0px 0px 0px 0px;
        }
    }

    // .block-intro__descr

    &__descr {
        position: relative;
        display: flex;
        gap: 27px;
        background: #f7f6f3;
        border-radius: 10px;
        padding: 10px 20px 10px 10px;
        @media (max-width: 550px) {
            gap: 21px;
        }
        @media (max-width: 380px) {
            gap: 10px;
            padding: 8px 10px 8px 8px;
        }
        img {
            width: 100px;
            flex: 0 0 100px;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            @media (max-width: 992px) {
                width: 120px;
                height: 120px;
                flex: 0 0 120px;
            }
            @media (max-width: 380px) {
                width: 80px;
                height: 80px;
                flex: 0 0 80px;
            }
        }
    }

    // .block-intro__item

    &__item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: -3px 0px 4px 0px;
        @media (max-width: 992px) {
            margin: 5px 0px 10.5px 0px;
        }
        @media (max-width: 380px) {
            margin: 0px 0px 0px 0px;
        }
    }

    // .block-intro__name

    &__name {
        flex: 1 1 auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        @media (max-width: 380px) {
            font-size: 12px;
        }
    }

    // .block-intro__link

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        transition: opacity 0.3s;
        @media (max-width: 380px) {
            font-size: 12px;
        }
        svg {
            fill: #333;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &:hover {
            opacity: 0.7;
        }
    }

    // .block-intro__buttons

    &__buttons {
        display: flex;
        gap: 20px;
        @media (max-width: 768px) {
            gap: 24px;
        }
        @media (max-width: 380px) {
            gap: 15px;
        }
        .btn {
            padding: 5px 27px;
            min-height: 70px;
            width: 100%;
            @media (max-width: 768px) {
                min-height: 48px;
                padding: 5px 15px;
            }
        }
    }

    // .block-intro__btn-social

    &__btn-social {
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        backdrop-filter: blur(50px);
        background: rgba(0, 0, 0, 0.2);
        min-height: 70px;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: #fff;
        border-radius: 12px;
        padding: 8px 20px;
        transition: opacity 0.3s;
        svg {
            display: none;
            fill: #fff;
            @media (max-width: 768px) {
                display: block;
            }
        }
        span {
            @media (max-width: 768px) {
                display: none;
            }
        }
        &:hover {
            opacity: 0.7;
        }
        @media (max-width: 768px) {
            min-height: fit-content;
            padding: 0px 0px 0px 0px;
            flex: 0 0 48px;
            height: 48px;
        }
    }
}

//========================================================================================================================================================

.block-benefits {
    @media (max-width: 768px) {
        padding: 41px 0px;
    }
    .title2 {
        @media (max-width: 768px) {
            color: #5b2431;
        }
        span {
            @media (max-width: 768px) {
                font-family: var(--font-family);
                font-style: normal;
            }
        }
    }
    // .block-benefits__body

    &__body {
        display: flex;
        flex-direction: column;
    }

    // .block-benefits__column

    &__column {
        display: flex;
        align-items: start;
        gap: 15px;
        border-bottom: 1px solid #d9d9d9;
        padding: 26px 0px;
        @media (max-width: 768px) {
            padding: 15px 0px;
            gap: 6px;
            flex-direction: column;
        }
        &:first-child {
            @media (max-width: 768px) {
                padding: 0px 0px 15px 0px;
            }
        }
        &:last-child {
            border-bottom: none;
            padding: 30px 0px 0px 0px;
            @media (max-width: 768px) {
                padding: 15px 0px 15px 0px;
                border-bottom: 1px solid #d9d9d9;
            }
        }
        p {
            margin: 3px 0px 0px 0px;
            flex: 0 1 auto;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            @media (max-width: 768px) {
                font-size: 14px;
                line-height: 157%;
                padding: 0px 0px 0px 0px;
            }
        }
    }

    // .block-benefits__number

    &__number {
        flex: 0 0 7.5%;
        font-family: var(--third-family);
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #5b2431;
        @media (max-width: 768px) {
            display: none;
        }
    }

    // .block-benefits__title

    &__title {
        margin: 3px 0px 0px 0px;
        flex: 0 0 50%;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        @media (max-width: 768px) {
            flex: 0 1 auto;
            margin: 0px 0px 0px 0px;
            font-size: 18px;
            line-height: 122%;
        }
    }
}

//========================================================================================================================================================

.block-tariffs {
    background: #fafaf8;
    .heading-complex {
        @media (max-width: 768px) {
            margin: 0px 0px 35px 0px;
        }
        p {
            @media (max-width: 992px) {
                display: none;
            }
        }
    }
    // .block-tariffs__body

    &__body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
        @media (max-width: 1400px) {
            gap: 15px;
        }
        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 550px) {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    // .block-tariffs__column

    &__column {
        border: 1px solid #e8e5df;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
        padding: 17px 20px 20px 20px;
        &.column-bg {
            color: #ffffff;
            background: #5b2431;
            border: 1px solid transparent;
            .block-tariffs__price {
                color: #ffffff;
            }
            .block-tariffs__button-calc {
                border: none;
                color: #5b2431;
                background: linear-gradient(180deg, #f3ede7 0%, #e3d8cd 100%);
                &::before {
                    content: "";
                    background: #ffffff;
                }
            }
        }
    }

    // .block-tariffs__top

    &__top {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-between;
        gap: 10px 20px;
    }

    // .block-tariffs__title

    &__title {
        margin: 2px 0px 0px 0px;
        font-weight: 500;
        font-size: 18px;
        line-height: 133%;
    }

    // .block-tariffs__price

    &__price {
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        color: #5b2431;
    }

    // .block-tariffs__buttons

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    // .block-tariffs__button

    &__button {
        background-color: #fff;
        flex: 1 1 auto;
        border: 1px solid #e8e5df;
        border-radius: 5px;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: #5b2431;
        padding: 5px 12px;
        transition: background-color 0.3s;
        text-align: center;
        min-height: 32px;
        &:hover {
            background-color: #e8e5df;
        }
        @media (max-width: 550px) {
            min-width: 139px;
        }
    }

    // .block-tariffs__button-calc

    &__button-calc {
        min-height: 32px;
        position: relative;
        flex: 1 1 auto;
        border: 1px solid #e8e5df;
        border-radius: 5px;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        text-align: center;
        padding: 4px 12px;
        overflow: hidden;
        transition:
            background-color 0.3s,
            color 0.3s;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.3s;
            background: linear-gradient(180deg, #f3ede7 0%, #e3d8cd 100%);
        }
        span {
            display: block;
            position: relative;
            z-index: 10;
            margin-top: 1px;
        }
        &:hover {
            &::before {
                content: "";
                opacity: 1;
            }
        }
        @media (max-width: 550px) {
            padding: 4px 10px;
        }
    }
}

//========================================================================================================================================================

.block-calculator {
    position: relative;
    // .block-calculator__bg1

    &__bg1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // .block-calculator__content

    &__content {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 30px;
        @media (max-width: 1400px) {
            flex-direction: column;
            justify-content: start;
        }
    }

    // .block-calculator__left

    &__left {
        flex: 0 1 415px;
        display: flex;
        flex-direction: column;
        gap: 13px;
        @media (max-width: 1400px) {
            flex: 0 1 auto;
            max-width: 500px;
        }
        .title2 {
            color: #fff;
            span {
                color: #fff;
            }
        }
        ul {
            margin: 10px 0px 0px 0px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            @media (max-width: 768px) {
                display: none;
            }
            li {
                border: 1px solid rgba(255, 255, 255, 0.4);
                border-radius: 8px;
                padding: 17px;
                backdrop-filter: blur(50px);
                background: rgba(255, 255, 255, 0.1);
                display: flex;
                gap: 10px;
                img {
                    flex: 0 0 24px;
                    width: 24px;
                    height: 24px;
                }
                p {
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 125%;
                    color: #fff;
                }
            }
        }
    }

    // .block-calculator__text

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #fff;
        @media (max-width: 768px) {
            display: none;
        }
    }
}

.block-calc {
    margin: 4px 0px 0px 0px;
    flex: 0 1 963px;
    background: linear-gradient(180deg, #fff 0%, #fff 100%);
    border-radius: 23px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @media (max-width: 1400px) {
        flex: 0 1 auto;
        width: 100%;
    }
    @media (max-width: 992px) {
        flex-direction: column;
        justify-content: start;
    }
    @media (max-width: 650px) {
        gap: 20px;
        padding: 25px 15px 17px 15px;
        margin: 0px 0px 5px 0px;
    }

    // .block-calc__left

    &__left {
        flex: 0 1 52.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 23px;
        @media (max-width: 992px) {
            flex: 0 1 auto;
            gap: 28px;
        }
    }

    // .block-calc__column

    &__column {
        &.block-calc-area {
            display: flex;
            flex-direction: column;
            @media (max-width: 650px) {
                display: grid;
                align-items: center;
                grid-template-columns: repeat(2, 1fr);
                gap: 26px;
            }
            @media (max-width: 390px) {
                gap: 10px;
                grid-template-columns: 1fr;
            }
            .block-calc__top {
                @media (max-width: 650px) {
                    margin: 0px 0px 0px 0px;
                }
            }
        }
    }

    // .block-calc__top

    &__top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px 20px;
        margin: -5px 0px 13px 0px;
        @media (max-width: 650px) {
            margin: -5px 0px 10px 0px;
        }
    }

    // .block-calc__title

    &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 121%;
        }
        span {
            &.desc {
                @media (max-width: 768px) {
                    display: none;
                }
            }
            &.mob {
                display: none;
                @media (max-width: 768px) {
                    display: block;
                }
            }
        }
    }

    // .block-calc__result-title

    &__result-title {
        display: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        color: #5b2431;
        @media (max-width: 768px) {
            display: flex;
            margin: -3px 0px 0px 0px;
        }
    }

    // .block-calc__inputs

    &__inputs {
        display: flex;
        align-items: center;
        gap: 20px;
        p {
            flex: 0 1 193px;
            font-weight: 400;
            font-size: 12px;
            line-height: 133%;
            color: #949494;
            @media (max-width: 650px) {
                display: none;
            }
        }
    }

    // .block-calc__input

    &__input {
        flex: 0 1 227px;
        height: 44px;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        border: 1px solid rgba(202, 200, 193, 0.5);
        border-radius: 8px;
        @media (max-width: 650px) {
            flex: 0 1 auto;
        }
        @media (max-width: 650px) {
            height: 40px;
        }
        span {
            position: absolute;
            right: 15px;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            top: 50%;
            transform: translate(0px, -50%);
        }
        input {
            text-align: center;
            width: 100%;
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            color: #5b2431;
            height: 100%;
            padding: 0px 50px 0px 50px;
            @media (max-width: 650px) {
                text-align: left;
                padding: 0px 50px 0px 15px;
            }
        }
    }
}
.block-calc-add {
    border: 1px solid rgba(202, 200, 193, 0.5);
    padding: 7px 8px 6px 14px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(251, 249, 245, 0.07) 0%, rgba(251, 250, 248, 0.07) 100%);
    display: flex;
    flex-direction: column;
    gap: 2px;
    @media (max-width: 650px) {
        border: none;
        border-top: 1px solid #d9d9d9;
        padding: 18px 0px 0px 0px;
        gap: 17px;
        margin: -5px 0px 0px 0px;
    }
    // .block-calc-add__top

    &__top {
        display: flex;
        align-items: center;
        gap: 9px;
        .block-info {
            @media (max-width: 650px) {
                display: none;
            }
        }
    }

    // .block-calc-add__title

    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
    }

    // .block-calc-add__checkbox

    &__checkbox {
        display: none;
        @media (max-width: 650px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    // .block-calc-add__switch

    &__switch {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        @media (max-width: 650px) {
            display: none;
        }
    }

    // .block-calc-add__switch-text

    &__switch-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
    }
}
.block-calc-right {
    flex: 0 1 44.2%;
    border-radius: 23px;
    background: linear-gradient(180deg, #fbf9f5 0%, #fbfaf8 100%);
    border: 1px solid #ece5db;
    padding: 24px 30px 24px 28px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media (max-width: 992px) {
        flex: 0 1 auto;
    }
    @media (max-width: 650px) {
        padding: 20px 0px 0px 0px;
        border-radius: 0px;
        background: transparent;
        border: none;
        border-top: 1px solid #d9d9d9;
        gap: 10px;
    }
    .btn {
        @media (max-width: 650px) {
            background-color: var(--color-black);
        }
        span {
            &.desc {
                @media (max-width: 650px) {
                    display: none;
                }
            }
            &.mob {
                display: none;
                @media (max-width: 650px) {
                    display: block;
                }
            }
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media (max-width: 992px) {
            display: none;
        }
        li {
            display: flex;
            align-items: center;
            gap: 14px;
            border-bottom: 1px solid #ece5db;
            padding: 0px 0px 10px 0px;
        }
    }
    // .block-calc-right__title

    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #5b2431;
        margin: 0px 0px 9px 0px;
        @media (max-width: 992px) {
            display: none;
        }
    }

    // .block-calc-right__icon

    &__icon {
        border: 1px solid #333;
        border-radius: 50%;
        width: 48px;
        flex: 0 0 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 20px;
            height: auto;
        }
    }

    // .block-calc-right__titles

    &__titles {
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        span {
            font-weight: 500;
            font-size: 14px;
            line-height: 143%;
            color: #949494;
        }
    }

    // .block-calc-right__total

    &__total {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 0px 0px 7px 0px;
        @media (max-width: 992px) {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }
        @media (max-width: 650px) {
            margin: 0px 0px 10px 0px;
            gap: 12px 25px;
        }
        @media (max-width: 390px) {
            flex-wrap: wrap;
        }
    }

    // .block-calc-right__total-title

    &__total-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        @media (max-width: 992px) {
            font-weight: 600;
            line-height: 113%;
        }
    }

    // .block-calc-right__summ

    &__summ {
        white-space: nowrap;
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        color: #5b2431;
    }

    // .block-calc-right__text

    &__text {
        margin: 3px 0px 0px 0px;
        display: flex;
        gap: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: #949494;
        span {
            display: flex;
            align-items: center;
            @media (max-width: 650px) {
                text-align: center;
            }
        }
    }

    // .block-calc-right__icon-text

    &__icon-text {
        margin: 2px 0px 0px 0px;
        width: 24px;
        height: 24px;
        flex: 0 0 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            fill: #949494;
        }
        @media (max-width: 650px) {
            display: none;
        }
    }
}

//========================================================================================================================================================

.block-gallery {
    background: var(--color-black);
    .heading-complex {
        align-items: flex-end;
        margin-top: -15px;
        margin-right: 125px;
        margin-bottom: 30px;
        @media (max-width: 1446px) {
            margin-right: 0px;
        }
        @media (max-width: 992px) {
            align-items: start;
        }
        @media (max-width: 768px) {
            margin-top: 2px;
            margin-bottom: 17px;
        }
        .title2 {
            color: #fff;
            span {
                color: #8c8c8b;
            }
        }
        .slider-nav {
            margin: 0px 0px 19px 0px;
        }
    }
    // .block-gallery__body

    &__body {
        position: relative;
        .slider-nav {
            @media (max-width: 992px) {
                position: absolute;
                left: 30px;
                width: calc(100% - 60px);
                bottom: 24px;
                z-index: 20;
            }
            @media (max-width: 768px) {
                left: 16px;
                width: calc(100% - 32px);
            }
        }
    }

    // .block-gallery__slider

    &__slider {
        overflow: visible;
    }

    // .block-gallery__wrapper

    &__wrapper {
    }

    // .block-gallery__slide

    &__slide {
        opacity: 0.2;
        transition: opacity 0.3s;
        overflow: hidden;
        &.swiper-slide-active {
            opacity: 1;
        }
        @media (min-width: 1401px) {
            width: 1316px;
            flex: 0 0 1316px;
        }
    }
}
.slide-block-gallery {
    display: flex;
    height: auto;
    @media (max-width: 992px) {
        flex-direction: column;
    }
    // .slide-block-gallery__zoom

    &__zoom {
        position: absolute;
        top: 24px;
        right: 24px;
        border-radius: 8px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 0.3s;
        pointer-events: none;
        svg {
            stroke: #fff;
            color: #fff;
            fill: none;
            @media (max-width: 768px) {
                width: 20px;
                height: auto;
            }
        }
        @media (max-width: 768px) {
            top: 16px;
            right: 16px;
            width: 30px;
            height: 30px;
        }
    }

    // .slide-block-gallery__images

    &__images {
        flex: 0 1 46.5%;
        border-radius: 30px 0px 0px 30px;
        position: relative;
        overflow: hidden;
        @media (max-width: 992px) {
            flex: 0 1 auto;
            border-radius: 30px 30px 0px 0px;
        }
        &:hover {
            .slide-block-gallery__zoom {
                background-color: #c1b1a1;
            }
        }
        .slider-nav-arrow {
            position: absolute;
            top: 50%;
            transform: translate(0px, -50%);
            background: rgba(255, 255, 255, 0.2);
            border: 1px solid transparent !important;
            svg{
                fill: #fff !important;
            }
        }
        .slider-nav__arrow-prev {
            left: 30px;
            @media (max-width: 768px) {
                left: 16px;
            }
        }
        .slider-nav__arrow-next {
            right: 30px;
            @media (max-width: 768px) {
                right: 16px;
            }
        }
    }

    // .slide-block-gallery__slider

    &__slider {
        height: 100%;
    }

    // .slide-block-gallery__wrapper

    &__wrapper {
    }

    // .slide-block-gallery__slide

    &__slide {
        display: flex;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (max-width: 992px) {
                height: 540px;
            }
            @media (max-width: 768px) {
                height: 440px;
            }
            @media (max-width: 550px) {
                max-height: 240px;
                height: 100%;
            }
        }
    }

    // .slide-block-gallery__body

    &__body {
        flex: 0 1 53.5%;
        background: #2d2d2d;
        border-radius: 0 30px 30px 0;
        padding: 68px 40px 70px 40px;
        @media (max-width: 992px) {
            flex: 1 1 auto;
            padding: 30px 30px 80px 30px;
            border-radius: 0 0 30px 30px;
        }
        @media (max-width: 768px) {
            padding: 13px 16px 80px 16px;
        }
    }

    // .slide-block-gallery__titles

    &__titles {
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-bottom: 25px;
        @media (max-width: 768px) {
            gap: 7px;
            margin-bottom: 10px;
        }
    }

    // .slide-block-gallery__text

    &__text {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #fff;
        @media (max-width: 768px) {
            font-size: 13px;
        }
    }

    // .slide-block-gallery__title

    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 142%;
        color: #c1b1a1;
        @media (max-width: 768px) {
            font-size: 20px;
            line-height: 130%;
            br {
                display: none;
            }
        }
    }

    // .slide-block-gallery__descr1

    &__descr1 {
        margin-bottom: 25px;
        @media (max-width: 768px) {
            display: none;
            margin-bottom: 15px;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 29px;
            @media (max-width: 768px) {
                gap: 10px;
            }
            li {
                display: flex;
                align-items: start;
                gap: 20px;
                @media (max-width: 768px) {
                    flex-direction: column;
                    gap: 10px;
                }
                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 138%;
                    color: #fff;
                }
            }
        }
    }

    // .slide-block-gallery__name

    &__name {
        flex: 0 0 105px;
        font-weight: 400;
        font-size: 16px;
        line-height: 138%;
        color: #8c8c8b;
        @media (max-width: 768px) {
            flex: 01 auto;
        }
    }

    // .slide-block-gallery__descr2

    &__descr2 {
        border-top: 1px solid #474747;
        border-bottom: 1px solid #474747;
        padding: 25px 0px 25px 0px;
        margin-bottom: 30px;
        @media (max-width: 768px) {
            padding: 11px 0px 15px 0px;
            margin-bottom: 16px;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
            padding: 0px 25px 0px 0px;
            @media (max-width: 992px) {
                padding: 0px 0px 0px 0px;
            }
            li {
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-weight: 400;
                font-size: 14px;
                line-height: 157%;
                color: #fff;
                @media (max-width: 768px) {
                    font-size: 14px;
                    line-height: 157%;
                    gap: 3px;
                }
                span {
                    font-size: 20px;
                    line-height: 110%;
                    color: #c1b1a1;
                    @media (max-width: 768px) {
                        font-size: 16px;
                        line-height: 138%;
                    }
                }
            }
        }
    }

    // .slide-block-gallery__buttons

    &__buttons {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        .btn {
            min-height: 50px;
            padding: 5px 13px;
            @media (max-width: 550px) {
                flex: 1 1 auto;
            }
            &.btn-grey {
                display: none;
                @media (max-width: 768px) {
                    display: flex;
                }
            }
        }
    }
}

//========================================================================================================================================================

.block-documents {
    .heading-complex {
        margin-bottom: 63px;
        @media (max-width: 992px) {
            flex-direction: column;
        }
        @media (max-width: 768px) {
            gap: 12px;
            margin-bottom: 17px;
        }
        .title2 {
            margin: -13px 0px 0px 0px;
            @media (max-width: 768px) {
                margin: 8px 0px 0px 0px;
            }
        }
        p {
            margin: 15px 0px 0px 0px;
            flex: 0 1 336px;
            @media (max-width: 992px) {
                flex: 0 1 auto;
                margin: 0px 0px 0px 0px;
            }
        }
    }
    // .block-documents__content

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .slider-nav {
            display: none;
            @media (max-width: 768px) {
                display: flex;
            }
        }
        .block-documents-pagination {
            position: relative;
            bottom: 0 !important;
            .swiper-pagination-bullet {
                background-color: #e9e9e9;
            }
            .swiper-pagination-bullet-active {
                transform: scale(1.5);
                background-color: #5b2431;
                margin-left: 4px !important;
                margin-right: 4px !important;
            }
        }
    }

    // .block-documents__slider

    &__slider {
        width: 100%;
    }

    // .block-documents__wrapper

    &__wrapper {
        @media (min-width: 993px) {
            gap: 32px;
        }
        @media (max-width: 993px) and (min-width: 769px) {
            gap: 16px;
        }
        @media (min-width: 769px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .block-documents__slide

    &__slide {
        display: flex;
        height: auto;
        background: #f6f4f0;
        border: 1px solid #f7f6f3;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
        min-height: 289px;
        @media (max-width: 768px) {
            min-height: 361px;
        }
    }

    // .block-documents__item

    &__item {
        padding: 30px 30px 30px 30px;
        display: flex;
        flex-direction: column;
        align-items: start;
        position: relative;
        z-index: 10;
        gap: 24px;
        max-width: 347px;
        @media (max-width: 390px) {
            max-width: 100%;
            padding: 20px;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 4px;
            li {
                display: flex;
                gap: 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 138%;
                color: #000;
                &::before {
                    content: "";
                    width: 3px;
                    height: 3px;
                    flex: 0 0 3px;
                    border-radius: 50%;
                    background: #000;
                    margin: 10px 0px 0px 10px;
                }
            }
        }
    }

    // .block-documents__pic1

    &__pic1 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    // .block-documents__title

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #5b2431;
        border-radius: 8px;
        background: #fff;
        padding: 4px 11px;
    }

    // .block-documents__pagination

    &__pagination {
    }
}

//========================================================================================================================================================

.block-manager {
    position: relative;
    background-color: rgba(227, 216, 205, 0.18);
    @media (max-width: 992px) {
        background: #fafaf8;
    }
    // .block-manager__bg

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (max-width: 992px) {
            display: none;
        }
    }

    // .block-manager__content

    &__content {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        @media (max-width: 1100px) {
            flex-direction: column;
            align-items: center;
            justify-content: start;
            gap: 24px;
        }
    }

    // .block-manager__image

    &__image {
        flex: 0 0 459px;
        border-radius: 110px;
        overflow: hidden;
        @media (max-width: 1100px) {
            flex: 0 1 auto;
            border-radius: 80px;
        }
        @media (max-width: 480px) {
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (max-width: 1100px) {
                max-height: 474px;
                height: auto;
            }
            @media (max-width: 480px) {
                max-height: fit-content;
            }
        }
    }

    // .block-manager__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: 23px;
        flex: 0 1 760px;
        margin: -22px 70px 0px 0px;
        @media (max-width: 1446px) {
            margin: -22px 0px 0px 0px;
        }
        @media (max-width: 1100px) {
            flex: 0 1 auto;
            width: 100%;
            gap: 16px;
            margin: -4px 0px 0px 0px;
        }
        ul {
            display: grid;
            gap: 32px;
            grid-template-columns: repeat(2, 1fr);
            @media (max-width: 1100px) {
                margin: 10px 0px 0px 0px;
            }
            @media (max-width: 768px) {
                gap: 20px 24px;
            }
            li {
                border-radius: 20px;
                max-width: 246px;
                background: #fff;
                display: flex;
                flex-direction: column;
                padding: 15px 15px 13px 20px;
                gap: 10px;
                @media (max-width: 650px) {
                    max-width: 100%;
                    gap: 7px;
                }
                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    @media (max-width: 650px) {
                        line-height: 125%;
                    }
                }
            }
        }
    }

    // .block-manager__name

    &__name {
        font-weight: 400;
        font-size: 32px;
        line-height: 120%;
        color: #5b2431;
        @media (max-width: 650px) {
            font-size: 20px;
        }
    }

    // .block-manager__texts

    &__texts {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 35px;
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            @media (max-width: 768px) {
                line-height: 138%;
            }
        }
    }

    // .block-manager__text

    &__text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        @media (max-width: 768px) {
            display: none;
        }
    }
}

//========================================================================================================================================================

.block-steps {
    .title2 {
        margin: -15px 0px 90px 0px;
        @media (max-width: 768px) {
            margin: 5px 0px 19px 0px;
        }
    }
    // .block-steps__body

    &__body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 77px 32px;
        @media (max-width: 1200px) {
            gap: 24px;
        }
        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 390px) {
            grid-template-columns: 1fr;
        }
    }

    // .block-steps__column

    &__column {
        display: flex;
        border-left: 1px solid #dbdad6;
        @media (max-width: 992px) {
            &:nth-child(1) {
                order: 1;
            }
            &:nth-child(2) {
                order: 2;
            }
            &:nth-child(3) {
                order: 3;
            }
            &:nth-child(4) {
                order: 4;
            }
            &:nth-child(5) {
                order: 6;
            }
            &:nth-child(6) {
                order: 5;
            }
            &:nth-child(7) {
                order: 7;
            }
            &:nth-child(8) {
                order: 8;
            }
            &:nth-child(9) {
                order: 9;
            }
        }
        @media (max-width: 768px) {
            border-left: none;
        }
        @media (max-width: 390px) {
            width: 100%;
        }
        &.column-image {
            border-left: none;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                @media (max-width: 992px) {
                    min-height: 211px;
                }
            }
        }
        &.column-bg {
            color: #fff;
            border-left: none;
            border-radius: 19px;
            background: #5b2431;
            padding: 13px 14px 14px 15px;
            @media (max-width: 768px) {
                padding: 15px 14px 18px 15px;
            }
            .block-steps__top {
                padding: 0px 0px 22px 0px;
                @media (max-width: 768px) {
                    gap: 8px;
                    padding: 0px 0px 10px 0px;
                }
            }
            .block-steps__number {
                color: #fff;
            }
            .block-steps__text {
                color: #fff;
                span {
                    padding: 12px 0px 0px 0px;
                }
            }
        }
        &.column-max {
            @media (max-width: 992px) {
                grid-column: -1 / 1;
            }
        }
    }

    // .block-steps__item

    &__item {
        display: flex;
        flex-direction: column;
        max-width: 290px;
        @media (max-width: 992px) {
            max-width: 100%;
        }
    }

    // .block-steps__top

    &__top {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 13px 0px 22px 15px;
        @media (max-width: 768px) {
            gap: 10px;
            padding: 0px 0px 10px 0px;
        }
        @media (max-width: 650px) {
            flex: 0 1 auto;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 163%;
            br {
                display: none;
            }
            @media (max-width: 768px) {
                font-size: 14px;
                line-height: 143%;
            }
            @media (max-width: 650px) {
                br {
                    display: block;
                }
            }
        }
    }

    // .block-steps__number

    &__number {
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: #8b8a86;
    }

    // .block-steps__title

    &__title {
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
    }

    // .block-steps__text

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 116%;
        color: #5b2431;
        span {
            display: block;
            padding: 12px 0px 12px 15px;
            @media (max-width: 768px) {
                padding: 13px 0px 0px 0px;
            }
        }
        &::before {
            content: "";
            display: block;
            background: #dbdad6;
            width: 90%;
            height: 1px;
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
}

//========================================================================================================================================================

.block-questions {
    background: #f7f6f3;
    .container {
        @media (max-width: 992px) {
            padding: 0px 24px;
        }
        @media (max-width: 390px) {
            padding: 0px 16px;
        }
    }
    // .block-questions__content

    &__content {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 40px;
        @media (max-width: 992px) {
            flex-direction: column;
            justify-content: start;
        }
        @media (max-width: 768px) {
            gap: 18px;
        }
    }

    // .block-questions__left

    &__left {
        flex: 0 1 610px;
        display: flex;
        flex-direction: column;
        gap: 17px;
        margin: -8px 0px 0px 0px;
        @media (max-width: 992px) {
            flex: 0 1 auto;
            width: 100%;
            align-items: center;
        }
        @media (max-width: 768px) {
            gap: 7px;
            margin: -12px 0px 0px 0px;
        }
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 188%;
            @media (max-width: 992px) {
                text-align: center;
            }
            @media (max-width: 768px) {
                font-size: 14px;
                line-height: 143%;
            }
        }
    }

    // .block-questions__title

    &__title {
        font-weight: 600;
        font-size: 52px;
        line-height: 123%;
        @media (max-width: 992px) {
            text-align: center;
        }
        @media (max-width: 768px) {
            font-size: 24px;
            line-height: 175%;
        }
    }
}
.questions-spollers {
    margin: 5px 0px 0px 0px;
    flex: 0 1 704px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media (max-width: 992px) {
        width: 100%;
        flex: 0 1 auto;
        margin: 0px 0px 0px 0px;
    }
    @media (max-width: 390px) {
        gap: 16px;
    }
    // .questions-spollers__item

    &__item {
        background: #fff;
        border-radius: 12px;
    }

    // .questions-spollers__button

    &__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        padding: 20px 20px 20px 18px;
        &._spoller-active {
            .questions-spollers__arrow {
                background-color: #5b2431;
                svg {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    // .questions-spollers__title

    &__title {
        text-align: left;
        font-family: var(--font4);
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        color: #292929;
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

    // .questions-spollers__arrow

    &__arrow {
        width: 24px;
        height: 24px;
        flex: 0 0 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--color-black);
        transition: background-color 0.3s;
        svg {
            transition: transform 0.3s;
            stroke: #fff;
            color: #fff;
            fill: none;
        }
    }

    // .questions-spollers__body

    &__body {
        padding: 0px 54px 20px 18px;
    }

    // .questions-spollers__text

    &__text {
        display: flex;
        flex-direction: column;
        gap: 16px;
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            color: #292929;
        }
    }
}

//========================================================================================================================================================

.block-forms {
    position: relative;
    // .block-forms__bg

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // .block-forms__content

    &__content {
        color: #fff;
        position: relative;
        z-index: 10;
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 40px;
        @media (max-width: 992px) {
            flex-direction: column;
            justify-content: start;
        }
        @media (max-width: 768px) {
            gap: 18px;
        }
    }

    // .block-forms__left

    &__left {
        flex: 0 1 680px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 2px 0px 0px 0px;
        @media (max-width: 992px) {
            width: 100%;
            margin: 0px 0px 0px 0px;
            flex: 0 1 auto;
        }
        @media (max-width: 768px) {
            margin: -3px 0px 0px 0px;
        }
        .title2 {
            span {
                color: #fff;
            }
        }
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 175%;
            @media (max-width: 768px) {
                font-size: 14px;
                line-height: 143%;
            }
        }
    }

    // .block-forms__text

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
    }
}

//========================================================================================================================================================

.block-reviews {
    background: #fafaf8;
    // .block-reviews__top

    &__top {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 30px;
        max-width: 1070px;
        margin: -8px 0px 109px 0px;
        @media (max-width: 768px) {
            margin: -6px 0px 27px 0px;
        }
        .title2 {
            text-align: right;
            @media (max-width: 992px) {
                text-align: left;
            }
            span {
                margin: 0px 30px 0px 0px;
                display: block;
                @media (max-width: 992px) {
                    margin: 0px 0px 0px 0px;
                }
            }
        }
    }

    // .block-reviews__title

    &__title {
        margin: 8px 0px 0px 0px;
        width: fit-content;
        border: 1px solid #333;
        border-radius: 82px;
        font-weight: 400;
        font-size: 16px;
        line-height: 113%;
        padding: 10px 15px;
        @media (max-width: 992px) {
            display: none;
        }
    }
    // .block-reviews__content

    &__content {
        position: relative;
        .slider-nav {
            width: 100%;
            position: absolute;
            bottom: 0;
            max-width: 581px;
            @media (max-width: 1350px) {
                width: calc(50% - 20px);
                max-width: 100%;
            }
            @media (max-width: 1200px) {
                width: 100%;
                position: relative;
                margin-top: 16px;
                margin-bottom: 9px;
            }
        }
        .slider-nav-arrow {
            border: 1px solid var(--color-black);
            svg {
                fill: var(--color-black);
            }
        }
        .swiper-pagination-current {
            color: var(--color-black);
        }
    }

    // .block-reviews__slider

    &__slider {
    }

    // .block-reviews__wrapper

    &__wrapper {
    }

    // .block-reviews__slide

    &__slide {
        display: flex;
        height: auto;
    }

    // .block-reviews__body

    &__body {
        width: 100%;
        display: flex;
        gap: 40px;
        justify-content: space-between;
        @media (max-width: 1350px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 1200px) {
            margin: 0px 0px 0px 0px;
        }
        @media (max-width: 992px) {
            gap: 24px;
        }
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column-reverse;
        }
        .slide-block-gallery {
            @media (min-width: 769px) {
                display: none;
            }
        }
    }

    // .block-reviews__cards

    &__cards {
        flex: 0 1 581px;
        margin: 0px 0px 50px 0px;
        @media (max-width: 1200px) {
            margin: 0px 0px 0px 0px;
        }
        @media (max-width: 768px) {
            flex: 0 1 auto;
        }
    }

    // .block-reviews__images

    &__images {
        flex: 0 1 704px;
        display: flex;
        justify-content: flex-end;
        height: 397px;
        gap: 32px;
        @media (max-width: 1350px) {
            gap: 20px;
            width: 100%;
        }
        @media (max-width: 992px) {
            height: 100%;
        }
        @media (max-width: 768px) {
            display: none;
        }
        img {
            min-width: 65.3%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
            @media (max-width: 1350px) {
                min-width: 100%;
                width: 100%;
            }
        }
    }

    // .block-reviews__image

    &__image {
        display: flex;
        flex-direction: column;
        gap: 30px;
        flex: 0 1 46.5%;
        @media (max-width: 1350px) {
            gap: 20px;
        }
        @media (max-width: 1200px) {
            display: none;
        }
        img {
            width: 100%;
            height: calc(50% - 10px);
            border-radius: 10px;
        }
    }
}

.card-review {
    border: 1px solid #c8c8c6;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    height: 100%;
    @media (max-width: 768px) {
        padding: 14px 20px 15px 20px;
        gap: 5px;
    }
    // .card-review__top

    &__top {
        display: flex;
        align-items: center;
        gap: 20px;
        @media (max-width: 768px) {
            gap: 10px;
        }
    }

    // .card-review__photo

    &__photo {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        flex: 0 0 80px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }

    // .card-review__titles

    &__titles {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media (max-width: 768px) {
            gap: 5px;
        }
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 114%;
            @media (max-width: 768px) {
                line-height: 143%;
            }
        }
    }

    // .card-review__title

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        span {
            &.desc {
                @media (max-width: 768px) {
                    display: none;
                }
            }
            &.mob {
                display: none;
                @media (max-width: 768px) {
                    display: block;
                }
            }
        }
    }

    // .card-review__text

    &__text {
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 163%;
            @media (max-width: 768px) {
                font-size: 14px;
                line-height: 143%;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            @media (max-width: 550px) {
                -webkit-line-clamp: 5;
            }
        }
    }

    // .card-review__more

    &__more {
        display: none;
        @media (max-width: 768px) {
            display: flex;
            font-weight: 500;
            font-size: 14px;
            line-height: 214%;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #5b2431;
            margin: 8px 0px 0px 0px;
        }
    }
}
