.slider-nav {
    display: flex;
    align-items: center;
    gap: 14px;
    @media (max-width: 992px) {
        justify-content: space-between;
    }

    // .slider-nav__arrow-prev

    &__arrow-prev {
        svg {
            transform: rotate(-180deg);
        }
    }

    // .slider-nav__pagination-fraction

    &__pagination-fraction {
        margin: 0 auto;
        text-align: center;
        white-space: nowrap;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #8c8c8b;
        .swiper-pagination-current {
            color: #fff;
        }
    }

    // .slider-nav__arrow-next

    &__arrow-next {
    }

    // .slider-nav__pagination

    &__pagination {
        position: absolute;
        top: auto !important;
        bottom: 28px !important;
        left: 50% !important;
        transform: translate(-50%, 0px);
        z-index: 20;
        display: flex;
        justify-content: center;
        gap: 4px;
        width: calc(100% - 30px) !important;
        @media (max-width: 768px) {
            bottom: 16px !important;
        }
        .swiper-pagination-bullet {
            flex: 0 1 8px;
            border-radius: 50%;
            height: 8px;
            background-color: rgba(255, 255, 255, 0.4);
            margin: 0px !important;
            opacity: 1 !important;
        }
        .swiper-pagination-bullet-active {
            background-color: #fff;
        }
    }
}
.slider-nav-arrow {
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 8px 12px;
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition: opacity 0.3s;
    svg {
        fill: #fff;
    }
    &:hover {
        opacity: 0.7;
    }
}

.swiper-pagination-lock {
    display: none;
}
.swiper-button-lock {
    display: none;
}
.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.5;
}
